.page[data-page="index"] img.icon {
    width: 100%;
    height: auto;
}

span.menu-title {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.popup-order-detail .item-detail {
  width: 100%;
  -ms-flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  flex-shrink: 1;
  position: relative;
}

#myorder-tab4 .item-block {
  margin: 10px 0px;
}

#myorder-tab4 .item-block .item-block-title {
  float: left;
  font-size: 16px;
  color: rgba(0,0,0,.65);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
}

#myorder-tab4 .item-block .item-block-text {
  font-size: 16px;
  color: #757575;
  line-height: 24px;
  position: relative;
  overflow: hidden;
  max-height: 48px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.page-template-content {
  height: 100%;
}

.display-table {
  display: table;
  height: 100%;
  width: 100%;
}

.display-table .display-vcenter {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.searchbar input.search-range-datepicker {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  display: block;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  border-bottom: 1px solid #fff;
  height: 100%;
  padding: 0 36px 0 24px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0 center;
  -webkit-background-size: 24px 24px;
  background-size: 24px 24px;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20fill%3D'%23FFFFFF'%20height%3D'24'%20viewBox%3D'0%200%2024%2024'%20width%3D'24'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'M15.5%2014h-.79l-.28-.27C15.41%2012.59%2016%2011.11%2016%209.5%2016%205.91%2013.09%203%209.5%203S3%205.91%203%209.5%205.91%2016%209.5%2016c1.61%200%203.09-.59%204.23-1.57l.27.28v.79l5%204.99L20.49%2019l-4.99-5zm-6%200C7.01%2014%205%2011.99%205%209.5S7.01%205%209.5%205%2014%207.01%2014%209.5%2011.99%2014%209.5%2014z'%2F%3E%3Cpath%20d%3D'M0%200h24v24H0z'%20fill%3D'none'%2F%3E%3C%2Fsvg%3E");
}

.font-size-12 { font-size: 12px; }
.font-size-14 { font-size: 14px; }
.font-size-16 { font-size: 16px; }
.font-size-18 { font-size: 18px; }
.font-size-20 { font-size: 20px; }
.font-size-24 { font-size: 24px; }
.font-size-28 { font-size: 28px; }
